/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button {
	-fx-background-radius: 10px;
}


/*Styles for the editPaymenFlowPanes*/

.editPaymentFlowPane {
	-fx-border-style: solid;
}

/*Styles for the editAddressFlowPanes*/

.editAddressFlowPane {
	-fx-border-style: solid;
}